{% set cardsData = [
  {
    'title': 'Зайчик-попрыгайчик1',
    'img': 'img/content/catalog/product1-mobile@1x.jpg',
    'alt': 'Вязанный зайчик голубого цвета ручной работы',
    'desc': 'Рост 30 см, вес 200 г',
    'price': '1 200 руб.'
  },
  {
    'title': 'Корзинка для белья',
    'img': 'img/content/catalog/product2-mobile@1x.jpg',
    'alt': 'Вязанная корзинка ручной работы с полотенцами',
    'desc': 'Диаметр 15 см, высота 10 см',
    'price': '690 руб.'
  },
  {
    'title': 'Большая корзинка для игрушек',
    'img': 'img/content/catalog/product3-mobile@1x.jpg',
    'alt': 'Большая вязанная корзинка ручной работы с игрушками',
    'desc': 'Диаметр 30 см, высота 30 см',
    'price': '1 500 руб.'
  }
] %}