@use "../mixins";
@use "../breakpoints" as *;

.about {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr) 50px;
    padding-top: 55px;
    padding-bottom: 70px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr repeat(6, 175px) 1fr;
    padding-top: 75px;
    padding-bottom: 45px;
  }
}

.about__title {
  @include mixins.subtitle;

  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 6;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 7;
    padding-bottom: 20px;
  }
}

.about__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    column-gap: 0;
    row-gap: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 7;
    row-gap: 48px;
  }
}

.about__item {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
    gap: 15px;
  }

  &::before {
    content: "";
    display: block;
    width: 47px;
    height: 47px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--flower::before {
    background-image: url("../img/common/flower.svg");
  }

  &--rub::before {
    background-image: url("../img/common/rub.svg");
  }

  &--heart::before {
    background-image: url("../img/common/heart.svg");
  }

  &--threads::before {
    background-image: url("../img/common/threads.svg");
  }

  &--rocket::before {
    background-image: url("../img/common/rocket.svg");
  }

  &--present::before {
    background-image: url("../img/common/present.svg");
  }
}
