.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-body);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  &--primary {
    border: 2px solid var(--text-body);
    background-color: var(--text-color-light);
  }
}
