@use "../breakpoints" as *;

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-body);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;

  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  &--primary {
    border: 2px solid var(--text-body);
    background-color: var(--text-color-light);
  }
}
