@use "../breakpoints" as *;

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-light);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(55px, min-content) 1fr auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: min-content;
  }
}

.card__title {
  margin-top: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin-left: 0;
    margin-right: 0;
  }
}

.card__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
  text-decoration: none;

  display: block;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  &--title {
    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &--img {
    order: -1;
    margin-bottom: 25px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}

.card__img {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 343px;
  }

  @media (min-width: $desktop-width) {
    height: 462px;
  }
}

.card__description {
  margin: 0 25px 15px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin: 0 35px;

    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.card__bottom {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid var(--border-light);

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-left: 35px;
    margin-right: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    align-self: end;
  }
}

.card__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.card__button {
  display: block;
  width: 20px;
  height: 20px;
  color: var(--text-color);
  text-decoration: none;
  opacity: 0.2;


}
