.card {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1150px) {
    display: flex;

  }
}

.card__title {
  margin: 25px;

  @media (min-width: 768px) {
    grid-column: 2/3;
  }
}

.card__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
  text-decoration: none;

  display: block;

  @media (min-width: 768px) {
    grid-column: 1/2;
    grid-row: 1/4;
  }

  &--img {
    order: -1;
  }
}

.card__img {
  display: block;
  width: 100%;

  @media (min-width: 768px) {
    height: 343px;
  }
}

.card__description {
  margin: 0 25px 15px;

  @media (min-width: 768px) {
    grid-column: 2/3;
  }
}

.card__bottom {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: 768px) {
    grid-column: 2/3;
  }
}

.card__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
}

.card__button {
  display: block;
  width: 20px;
  height: 20px;
  color: var(--accent-color);
  text-decoration: none;
}
