@use "../mixins";
@use "../breakpoints" as *;

.cart {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
  text-decoration: none;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 50px;
  padding-right: 25px;
  width: 260px;
  position: relative;
}

.cart__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-color);
  width: 100%;

  text-align: left;
  display: block;
}

.cart__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
