@use "../mixins";
@use "../breakpoints" as *;

.cart {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
  text-decoration: none;

  @include mixins.border-menu;
  @include mixins.padding-mobile;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    background-color: var(--bg);
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    padding-left: 0;
    padding-right: 0;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 6 / 7;
  }
}

.cart__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);

  text-align: left;
  display: block;
  position: relative;
  padding-left: 45px;
  width: 215px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 85px;
    padding-right: 0;
  }
}

.cart__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  @media (min-width: $tablet-width) {
    left: 35px;
  }
}
