@use "../breakpoints" as *;

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 25px;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    gap: 30px;
  }

  &:hover .copyright__logo {
    opacity: 1;
    fill: #46c1ae;
  }

  &:focus .copyright__logo {
    opacity: 1;
    fill: #46c1ae;
  }

  &:active .copyright__logo {
    opacity: 0.3;
    fill: #46c1ae;
  }
}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: var(--text-color);
  text-decoration: none;
}

.copyright__logo {
  fill: var(--accent-color);
}
