@use "../breakpoints" as *;

.footer {
  background-color: var(--bg-color);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  margin: 0 auto;

  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;

    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    background-color: var(--bg-color);
  }
}
