@use "../mixins";
@use "../breakpoints" as *;

.hero {
  display: grid;
  background-color: var(--no-image-color);
  background-image: url("../img/common/hero-mobile@1x.jpg");
  background-position: 50% -25px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;

    background-image: url("../img/common/hero-desktop.jpg");
    background-position-y: -50px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      display: block;
      bottom: -20px;
      height: 24px;
      width: 100%;
      background-image: url("../img/common/zigzag-fill-desktop.svg");
    }

    @media (min-width: $desktop-width) {
      height: 34px;
    }
  }
}

.hero__title {
  @include mixins.title;
  text-align: center;

  justify-self: center;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding: 70px 30px 120px;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;


    max-width: 700px;
    padding-top: 90px;
    min-height: 560px;
  }
}

.hero__item {
  &--light {
    background-color: #63d1bb;
    margin-left: 30px;
    margin-right: 30px;

    @media (min-width: $tablet-width) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-left: 50px;
      margin-right: 0;
    }
  }

  &--dark {
    background-color: #56c3b2;
    margin-left: 30px;
    margin-right: 30px;

    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin-right: 50px;
      margin-left: 0;
    }
  }
}

.hero__link {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color-light);
  text-decoration: none;

  display: grid;
  grid-template-columns: 1fr 62px;
  column-gap: 30px;
  align-items: center;

  padding-left: 30px;
  padding-right: 30px;

  &::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &--interior::after {
    background-image: url("../img/common/interior.svg");
  }

  &--toy::after {
    background-image: url("../img/common/toy.svg");
  }
}
