@use "../mixins";
@use "../breakpoints" as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: var(--no-image-color);
  background-image: url("../img/common/hero-mobile@1x.jpg");
  background-position: 50% -25px;
  background-repeat: no-repeat;
  min-height: 490px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/common/hero-mobile@2x.jpg");
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    width: 100%;
    grid-template-columns: 50px 1fr 1fr 50px;

    background-image: url("../img/common/hero-desktop@1x.jpg");
    background-position-y: -65px;
    min-height: 680px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/common/hero-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 525px 525px 1fr;
    background-position-y: -55px;
    min-height: 690px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      grid-row: 2 / 3;
      grid-column: 2 / 4;
      display: block;
      z-index: 1;

      align-self: end;
      height: 24px;
      background-image: url("../img/common/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;

      background-position: 50% 13px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 2 / 4;
      background-image: url("../img/common/zigzag-fill-desktop.svg");
      height: 34px;
      background-position-y: 19px;
    }
  }
}

.hero__title {
  @include mixins.title;
  text-align: center;
  flex-grow: 1;


  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    padding-top: 90px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    margin-bottom: 0;
    padding-top: 100px;
    padding-left: 175px;
    padding-right: 175px;
  }
}

.hero__item {
  position: relative;

  &--light {
    background-color: #63d1bb;

    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin-right: 0;
      align-self: end;
    }
  }

  &--dark {
    background-color: #56c3b2;

    @media (min-width: $tablet-width) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      margin-left: 0;
      align-self: end;
    }
  }
}

.hero__link {
  box-sizing: border-box;
  width: 100%;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color-light);
  text-decoration: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  &::after {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;


    justify-self: end;

    @media (min-width: $desktop-width) {
      grid-column: 3 / 4;
    }
  }

  &--interior::after {
    background-image: url("../img/common/interior.svg");
  }

  &--toy::after {
    background-image: url("../img/common/toy.svg");
  }

  &:hover {
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
      padding-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 40px;
    }
  }

  &:hover .hero__text,
  &:hover::after {
    transform: translateY(-5px);
  }

  &--interior:hover::after {
    opacity: 0.7;
  }

  &--toy:hover::after {
    opacity: 0.7;
  }

  &--interior:focus::after {
    opacity: 0.7;
  }

  &--toy:focus::after {
    opacity: 0.7;
  }

  &--interior:active::after {
    opacity: 0.3;
  }

  &--toy:active::after {
    opacity: 0.3;
  }
}
