@use "../mixins";
@use "../breakpoints" as *;

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 10px;
  color: var(--text-color);

  @include mixins.border-menu;

  @media (min-width: $tablet-width) {
    background-color: var(--bg);
    justify-content: start;
    padding-top: 15px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-right: 50px;
    justify-content: center;
  }

  &--footer {
    @media (min-width: $tablet-width) {
      padding-top: 0;
      box-shadow: none;
      padding-right: 0;
    }
  }
}

.logo__img:hover {
  color: #46c1ae;
}

.logo__img:focus {
  color: #46c1ae;
}

.logo__img:active {
  opacity: 0.2;
}

.logo__picture:hover {
  opacity: 0.6;
}

.logo__picture:focus {
  opacity: 0.6;
}

.logo__picture:active {
  opacity: 0.3;
}
