@use "../mixins";
@use "../breakpoints" as *;

.main-nav {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--bg);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 85px max-content 50px;
    background-color: var(--bg-menu);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 185px 225px 285px 85px 267px 1fr;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: block;
      grid-column: 1 / 2;
      width: 100%;
      height: 100%;
      background-color: var(--bg);

      @include mixins.border-menu;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      display: block;
      grid-column: 6 / 7;
      width: 100%;
      height: 100%;
      background-color: var(--bg);

      @include mixins.border-menu;
    }

    @media (min-width: $desktop-width) {
      grid-column: 7 / 8;
      grid-row: 1 / 2;
    }
  }

  &--notindex {
    @media (min-width: $tablet-width) {
      background-color: var(--bg-color);
    }
  }
}

.main-nav__toggle {
  border: none;
  background-image: url("../img/common/menu-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 30px;
  right: 30px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 85px;
  background-color: var(--bg);

  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/common/burger-menu.svg");
}

.main-nav--closed .main-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.no-js .main-nav__toggle {
  display: none;
}

.no-js .main-nav__wrapper {
  display: flex;
  position: relative;
  top: 0;

  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.main-nav__logo {
  @include mixins.padding-mobile;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: start;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
  }
}

.main-nav__caption {
  display: none;

  font-size: 15px;
  line-height: 24px;
  color: var(--text-body);

  @media (min-width: $tablet-width) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    display: block;
    text-align: right;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 6 / 7;
  }
}
