.main {
  display: flex;
  flex-direction: column;
  background-color: var(--text-color-light);
}

.main__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  color: var(--text-color);
  text-align: center;
  background-color: var(--bg-color);

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 75px;
  padding-bottom: 75px;
}
