@use "../mixins";

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main__title {
  @include mixins.title;
  text-align: center;
  background-color: var(--bg-color);

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 75px;
  padding-bottom: 75px;
}
