@use "../breakpoints" as *;

.page {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  color: var(--text-body);
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__body {
  min-width: $mobile-width;
  margin: 0;
}
