@use "../breakpoints" as *;

.product-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    padding-top: 65px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    flex-direction: row;
    gap: 50px;
    //justify-content: space-between;
  }
}
