@use "../mixins";

.product {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.product__title {
  @include mixins.subtitle;

  margin-top: 0;
  margin-bottom: 3px;
}

.product__caption {
  flex: 17px;
  font-weight: 700;
  line-height: 20px;
  color: var(--accent-color);
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 15px;
}

.product__description {
  font-size: 15px;
  line-height: 24px;

  margin-top: 0;
  margin-bottom: 30px;
}

.product__list {
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 15px;
  row-gap: 15px;

  margin-top: 0;
  margin-bottom: 40px;
}

.product__term {
  font-size: 15px;
  line-height: 24px;
}

.product__value {
  font-size: 15px;
  line-height: 24px;

  margin-left: 0;
}

.product__img {
  margin-bottom: 25px;
}

.product__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  align-self: center;

  margin-bottom: 25px;
}
