.product-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;

  @media (min-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: 1150px) {
    flex-direction: row;
    justify-content: center;
  }
}
