@use "../mixins";

.reviews {
  display: flex;
  flex-direction: column;

  padding: 30px;
}

.reviews__title {
  @include mixins.subtitle;

  margin-top: 0;
  margin-bottom: 15px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;
}

.reviews__text {
  font-size: 15px;

  margin-top: 0;
  margin-bottom: 15px;
}

.reviews__author {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  color: var(--text-color);
}

.reviews__link {
  font-size: 17px;
  color: var(--text-body);
  text-decoration: none;
}

.reviews__controls {
  display: flex;
  margin-bottom: 40px;
}

.reviews__control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  flex-grow: 1;
}
