@use "../breakpoints" as *;

.search {
  display: flex;
  align-items: center;
  gap: 25px;
}

.main-nav--closed .search {
  display: none;
}

.search__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-color);

  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.search__icon {
  @media (min-width: $tablet-width) {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.search__popup {
  display: none;
}
