@use "../mixins";
@use "../breakpoints" as *;

.search {
  @include mixins.border-menu;
  @include mixins.padding-mobile;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    background-color: var(--bg);
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    justify-content: end;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5 / 6;
  }
}

.search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 90px;
    padding-left: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:hover .search__icon {
    opacity: 1;
    fill: #63d1bb;
  }

  &:focus .search__icon {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active .search__icon {
    opacity: 0.3;
    fill: #63d1bb;
  }
}

.search__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);

  text-align: left;
  display: block;
  width: 215px;
  padding-left: 45px;
  padding-top: 27px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.search__icon {
  position: absolute;
  left: 0;
  opacity: 0.2;
  fill: #000000;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}
