@use "../mixins";
@use "../breakpoints" as *;

.site-nav {
  list-style: none;

  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  position: absolute;
  top: 85px;
  background-color: var(--bg);
  width: 100%;
  z-index: 20;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: start;
    gap: 35px;
  }

  @media (min-width: $desktop-width) {
    gap: 70px;
  }
}

.main-nav--closed .site-nav {
  display: none;
}

.no-js .site-nav {
  position: relative;
  display: flex;
  top: 0;
}

.site-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.border-menu;
  @include mixins.padding-mobile;
}

.site-nav__link {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-color);
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 50px;
  padding-right: 25px;
  width: 260px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
