@use "../breakpoints" as *;

.social {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-footer);

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.social__link {
  display: flex;
  width: 30px;
  height: 25px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  text-decoration: none;
}
