@use "../breakpoints" as *;

.video {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  border: 1px solid var(--border-light);

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 105px;
    grid-template-columns: repeat(6, 1fr);
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);

  display: flex;
  gap: 20px;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25px;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 20px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    padding-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    flex-direction: column;
    align-items: start;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 22px;
    background-image: url("../img/common/video.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      width: 35px;
      height: 22px;
    }
  }
}

.video__wrapper {
  position: relative;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    justify-content: start;
  }
}

.video__content {
  height: 150px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    max-width: 682px;
  }
}

.video__img {
  margin-bottom: 0;
  height: 100%;
}

.video__play {
  border: none;
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;

  @media (min-width: $desktop-width) {
    top: 51%;
    left: 49%;
  }

  &:hover {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
  }

  &:focus {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8, 0.8);
    opacity: 0.3;
  }
}

.video__description {
  line-height: 24px;

  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    margin-left: 60px;
    margin-right: 60px;
  }
}

.video__button {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    align-self: end;
    margin-bottom: 57px;
    margin-left: 65px;
    margin-right: 55px;
  }
}
