@use "../breakpoints" as *;

.video {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  border: 1px solid var(--border-light);

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-left: 0;
    margin-right: 0;
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.video__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);

  display: flex;
  gap: 25px;

  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 25px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 40px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    margin-left: 60px;
    margin-right: 60px;
    flex-direction: column;
  }

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 22px;
    background-image: url("../img/common/video.svg");
  }
}

.video__wrapper {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
  }
}

.video__content {
  height: 150px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 455px;
  }
}

.video__play {
  border: none;
  background-color: transparent;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.video__description {
  line-height: 24px;

  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 25px;
  margin-right: 25px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    margin-left: 60px;
    margin-right: 60px;
  }
}

.video__button {
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/7;
    align-self: end;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }
}
