{% set pageSlug = 'catalog' %}
{% set pageName = "Каталог товаров" %}

{% extends "../templates/layout.html" %}

{% block content %}
<main class="main{{' main--page' if pageSlug != 'home'}}">
  <h1 class="main__title">Каталог товаров</h1>
  <section class="product-list">
    <h2 class="visually-hidden">Наша продукция</h2>
    <article class="card">
      <h3 class="card__title">
        <a class="card__link card__link--title" href="#">Зайчик-попрыгайчик</a>
      </h3>
      <a class="card__link card__link--img" href="#">
        <picture>
          <source media="(min-width: 1150px)" srcset="img/content/catalog/product1-desktop@1x.webp 1x, img/content/catalog/product1-desktop@2x.webp 2x" type="image/webp">
          <source media="(min-width: 768px)" srcset="img/content/catalog/product1-tablet@1x.webp 1x, img/content/catalog/product1-tablet@2x.webp 2x" type="image/webp">
          <source srcset="img/content/catalog/product1-mobile@1x.webp 1x, img/content/catalog/product1-mobile@2x.webp 2x" type="image/webp">
          <source media="(min-width: 1150px)" srcset="img/content/catalog/product1-desktop@1x.jpg 1x, img/content/catalog/product1-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="img/content/catalog/product1-tablet@1x.jpg 1x, img/content/catalog/product1-tablet@2x.jpg 2x">
          <img class="card__img" width="260" height="195" src="img/content/catalog/product1-mobile@1x.jpg 1x" srcset="img/content/catalog/product1-mobile@2x.jpg 2x" alt="Вязанный зайчик голубого цвета ручной работы">
        </picture>
      </a>
      <p class="card__description">Рост 30 см, вес 200 г</p>
      <div class="card__bottom">
        <b class="card__price">1 200 руб.</b>
        <a class="card__button" href="#" aria-label="Добавить в корзину">
          <svg class="card__icon" width="21" height="18" viewBox="0 0 21 18" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
            <use href="img/sprite.svg#cart"></use>
          </svg>
        </a>
      </div>
    </article>
    <article class="card">
      <h3 class="card__title subtitle">
        <a class="card__link card__link--title" href="#">Корзинка для белья</a>
      </h3>
      <a class="card__link card__link--img" href="#">
        <picture>
          <source media="(min-width: 1150px)" srcset="img/content/catalog/product2-desktop@1x.webp 1x, img/content/catalog/product2-desktop@2x.webp 2x" type="image/webp">
          <source media="(min-width: 768px)" srcset="img/content/catalog/product2-tablet@1x.webp 1x, img/content/catalog/product2-tablet@2x.webp 2x" type="image/webp">
          <source srcset="img/content/catalog/product2-mobile@1x.webp 1x, img/content/catalog/product2-mobile@2x.webp 2x" type="image/webp">
          <source media="(min-width: 1150px)" srcset="img/content/catalog/product2-desktop@1x.jpg 1x, img/content/catalog/product2-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="img/content/catalog/product2-tablet@1x.jpg 1x, img/content/catalog/product2-tablet@2x.jpg 2x">
          <img class="card__img" width="260" height="195" src="img/content/catalog/product2-mobile@1x.jpg 1x" srcset="img/content/catalog/product2-mobile@2x.jpg 2x" alt="Вязанная корзинка ручной работы с полотенцами">
        </picture>
      </a>
      <p class="card__description">Диаметр 15 см, высота 10 см</p>
      <div class="card__bottom">
        <b class="card__price">690 руб.</b>
        <a class="card__button" href="#" aria-label="Добавить в корзину">
          <svg class="card__icon" width="21" height="18" viewBox="0 0 21 18" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
            <use href="img/sprite.svg#cart"></use>
          </svg>
        </a>
      </div>
    </article>
    <article class="card">
      <h3 class="card__title subtitle">
        <a class="card__link card__link--title" href="#">Большая корзинка для игрушек</a>
      </h3>
      <a class="card__link card__link--img" href="#">
        <picture>
          <source media="(min-width: 1150px)" srcset="img/content/catalog/product3-desktop@1x.webp 1x, img/content/catalog/product3-desktop@2x.webp 2x" type="image/webp">
          <source media="(min-width: 768px)" srcset="img/content/catalog/product3-tablet@1x.webp 1x, img/content/catalog/product3-tablet@2x.webp 2x" type="image/webp">
          <source srcset="img/content/catalog/product3-mobile@1x.webp 1x, img/content/catalog/product3-mobile@2x.webp 2x" type="image/webp">
          <source media="(min-width: 1150px)" srcset="img/content/catalog/product3-desktop@1x.jpg 1x, img/content/catalog/product3-desktop@2x.jpg 2x">
          <source media="(min-width: 768px)" srcset="img/content/catalog/product3-tablet@1x.jpg 1x, img/content/catalog/product3-tablet@2x.jpg 2x">
          <img class="card__img" width="260" height="195" src="img/content/catalog/product3-mobile@1x.jpg 1x" srcset="img/content/catalog/product3-mobile@2x.jpg 2x" alt="Большая вязанная корзинка ручной работы с игрушками">
        </picture>
      </a>
      <p class="card__description">Диаметр 30 см, высота 30 см</p>
      <div class="card__bottom">
        <b class="card__price">1 500 руб.</b>
        <a class="card__button" href="#" aria-label="Добавить в корзину">
          <svg class="card__icon" width="21" height="18" viewBox="0 0 21 18" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
            <use href="img/sprite.svg#cart"></use>
          </svg>
        </a>
      </div>
    </article>
  </section>
  <section class="video">
    <h2 class="video__title">Процесс производства</h2>
    <div class="video__wrapper">
      <picture class="video__content">
        <source media="(min-width: 1150px)" srcset="img/content/video-desktop@1x.webp 1x, img/content/video-desktop@2x.webp 2x" type="image/webp">
        <source media="(min-width: 768px)" srcset="img/content/video-tablet@1x.webp 1x, img/content/video-tablet@2x.webp 2x" type="image/webp">
        <source srcset="img/content/video-mobile@1x.webp 1x, img/content/video-mobile@2x.webp 2x" type="image/webp">
        <source media="(min-width: 1150px)" srcset="img/content/video-desktop@1x.jpg 1x, img/content/video-desktop@2x.jpg 2x">
        <source media="(min-width: 768px)" srcset="img/content/video-tablet@1x.jpg 1x, img/content/video-tablet@2x.jpg 2x">
        <img class="video__img" width="260" height="150" src="img/content/video-mobile@1x.jpg 1x" srcset="img/content/video-mobile@2x.jpg 2x" alt="Видео о процессе производства игрушек">
      </picture>
      <button class="video__play">
        <svg class="video__icon" width="101" height="77" viewBox="0 0 101 77" fill="none" xmlns="http://www.w3.org/2000/svg">
          <use href="img/sprite.svg#play"></use>
        </svg>
      </button>
    </div>
    <p class="video__description">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</p>
    <a class="video__button button button--primary">Сделать заказ</a>
  </section>
</main>
{% endblock %}
{% block modal %}
{% include "../templates/modal.html" %}
{% endblock %}