  <section class="about">
    <h2 class="about__title">Коротко о нас:</h2>
    <ul class="about__list">
      <li class="about__item about__item--flower">Экологически чистые материалы</li>
      <li class="about__item about__item--rub">Скандинавский стиль по&nbsp;российской цене</li>
      <li class="about__item about__item--heart">Увеличивает лайки на&nbsp;фотографиях</li>
      <li class="about__item about__item--threads">Связано вручную с&nbsp;любовью и&nbsp;умилением</li>
      <li class="about__item about__item--rocket">Поддержка отечественного производителя</li>
      <li class="about__item about__item--present">Поставляется в&nbsp;подарочной упаковке</li>
    </ul>
  </section>