  <section class="about">
    <h2 class="about__title">Коротко о нас:</h2>
    <ul class="about__list">
      <li class="about__item">Экологически чистые материалы</li>
      <li class="about__item">Скандинавский стиль по российской цене</li>
      <li class="about__item">Увеличивает лайки на фотографиях</li>
      <li class="about__item">Связано вручную с любовью и умилением</li>
      <li class="about__item">Поддержка отечественного производителя</li>
      <li class="about__item">Поставляется в подарочной упаковке</li>
    </ul>
  </section>