  <section class="contacts">
    <div class="contacts__wrapper">
      <h2 class="contacts__title">Контакты</h2>
      <dl class="contacts__list">
        <div class="contacts__item">
          <dt class="contacts__term">e-mail:</dt>
          <dd class="contacts__value">
            <a class="contacts__text contacts__text--email" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
          </dd>
        </div>
        <div class="contacts__item">
          <dt class="contacts__term">адрес:</dt>
          <dd class="contacts__value">
            <address class="contacts__text contacts__text--address">г. Санкт-Петербург ул. Большая Конюшенная д. 19/8, офис 101</address>
          </dd>
        </div>
      </dl>
    </div>
    <div class="contacts__map">
      <img class="contacts__img" src="img/content/map-mobile@1x.jpg" width="320" height="455" alt="Карта проезда до магазина Мишка">
    </div>
    <a class="contacts__button button button--primary" href="#">Напишите нам</a>
  </section>