  <section class="contacts">
    <div class="contacts__wrapper">
      <h2 class="contacts__title">Контакты</h2>
      <dl class="contacts__list">
        <div class="contacts__item">
          <dt class="contacts__term">e-mail:</dt>
          <dd class="contacts__value">
            <a class="contacts__text contacts__text--email" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
          </dd>
        </div>
        <div class="contacts__item">
          <dt class="contacts__term">адрес:</dt>
          <dd class="contacts__value">
            <address class="contacts__text contacts__text--address">г. Санкт-Петербург ул. Большая Конюшенная д. 19/8, офис 101</address>
          </dd>
        </div>
      </dl>
    </div>
    <div class="contacts__map">
      <iframe class="contacts__frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6036253003128!2d30.32085871610071!3d59.93871916905414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1674383243514!5m2!1sru!2sru"
        allowfullscreen
        title="Офис компании">
      </iframe>
    </div>
    <a class="contacts__button button button--primary" href="#">Напишите нам</a>
  </section>