  <section class="hero">
    <h1 class="hero__title">Милые штуки ручной работы для дома</h1>
    <div class="hero__item hero__item--light">
      <a class="hero__link  hero__link--interior" href="#">
        <span class="hero__text hero__text--interior">Предметы интерьера</span>
      </a>
    </div>
    <div class="hero__item hero__item--dark">
      <a class="hero__link hero__link--toy" href="#">
        <span class="hero__text hero__text--toy">Детские игрушки</span>
      </a>
    </div>
  </section>