<div class="modal">
  <p class="modal__title subtitle">Добавить в корзину</p>
  <form class="modal__form size-select-form" action="https://echo.htmlacademy.ru/courses" method="post">
    <fieldset class="size-select-form__size">
      <legend class="size-select-form__caption">Выберите размер:</legend>
      <label class="size-select-form__label" for="size-s">S
        <input class="size-select-form__input" type="radio" id="size-s" name="size" value="s" checked>
      </label>
      <label class="size-select-form__label" for="size-m">M
        <input class="size-select-form__input" type="radio" id="size-m" name="size" value="m">
      </label>
      <label class="size-select-form__label" for="size-l">L
        <input class="size-select-form__input" type="radio" id="size-l" name="size" value="l">
      </label>
    </fieldset>
    <button class="size-select-form__button button button--secondary" type="submit">Добавить</button>
  </form>
</div>