<div class="modal modal--closed">
  <div class="modal__wrapper">
    <p class="modal__title">Добавить в корзину</p>
    <form class="modal__form" action="https://echo.htmlacademy.ru/courses" method="post">
      <fieldset class="modal__fieldset">
        <legend class="modal__caption">Выберите размер:</legend>
        <label class="modal__label" for="size-s">S
          <input class="visually-hidden modal__input" type="radio" id="size-s" name="size" value="s" checked>
        </label>
        <label class="modal__label" for="size-m">M
          <input class="visually-hidden modal__input" type="radio" id="size-m" name="size" value="m">
        </label>
        <label class="modal__label" for="size-l">L
          <input class="visually-hidden modal__input" type="radio" id="size-l" name="size" value="l">
        </label>
      </fieldset>
      <button class="modal__button button button--secondary" type="submit">Добавить</button>
    </form>
  </div>
</div>