  <article class="product">
    <h2 class="product__title">Вязаные корзинки</h2>
    <p class="product__caption">Товар недели</p>
    <p class="product__description">Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трёх размерах.</p>
    <dl class="product__list">
      <dt class="product__term">Цвет:</dt>
      <dd class="product__value">тиффани/серый</dd>
      <dt class="product__term">Диаметр:</dt>
      <dd class="product__value">25 см</dd>
      <dt class="product__term">Высота:</dt>
      <dd class="product__value">15 см</dd>
    </dl>
    <img class="product__img" width="260" height="315" src="img/content/triple-set-mobil.jpg" alt="Набор из трех вязаных корзинок">
    <p class="product__price">Цена: 990 руб.</p>
    <a class="product__button button button--primary" href="#">Заказать</a>
  </article>