  <section class="reviews">
    <div class="reviews__wrapper">
      <h2 class="reviews__title">Отзывы</h2>
      <div class="reviews__list">
        <blockquote class="reviews__item">
          <p class="reviews__text">Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек.
            В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!</p>
          <cite class="reviews__author">Анастасия Красильникова</cite>
          <a class="reviews__link" href="#" target="_blank">@misssssiskras</a>
        </blockquote>
        <div class="reviews__controls">
          <a class="reviews__control" href="#" aria-label="Предыдущий отзыв">
            <svg class="reviews__icon reviews__icon--back" width="50" height="26" viewBox="0 0 50 26" fill="#000000" xmlns="http://www.w3.org/2000/svg">
              <use href="img/sprite.svg#huge-arrow-left"></use>
            </svg>
          </a>
          <a class="reviews__control" href="#" aria-label="Следующий отзыв">
            <svg class="reviews__icon reviews__icon--forward" width="50" height="26" viewBox="0 0 50 26" fill="#000000" xmlns="http://www.w3.org/2000/svg">
              <use href="img/sprite.svg#huge-arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
      <a class="reviews__button button button--primary" href="#">Написать</a>
    </div>
  </section>