img {
  max-width: 100%;
  object-fit: contain;
}

* {
  //outline: 1px solid rgba(190, 31, 31, 0.49);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 30px;
  color: var(--text-body);
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__body {
  max-width: 320px;
  margin: 0 auto;
  background-color: var(--bg);
}

.header,
.main,
.footer {
  background-color: var(--text-color-light);
}
