.search {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 30px;
}

.search__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-color);

  padding-top: 25px;
  padding-bottom: 25px;
}

.search__popup {
  display: none;
}
