:root {
  --text-color: #000000;
  --text-color-light: #ffffff;
  --text-body: #444444;
  --no-image-color: #fafafa;
  --accent-color: #63d1bb;
  --accent-color-dark: #62d1ba;
  --bg-color: #f1f1f1;
  --icon-color: #231f20;
  --bg: #ffffff;
  --bg-menu: #fafafa;
  --border-light: #ececec;
  --border-footer: #e5e5e5;
}
